.small-button {
  padding: 0.4em 1.5em; /* Adjust padding as desired */
  font-size: 0.8em; /* Adjust font size as desired */
}

.main{
  height: 60px;
  width:100%;
  color: black;
  display:flex;
  justify-content:space-between;
  align-items: center;
}
li,ul{
  display: inline;
  margin-right: 20px;
  font-size: 20px;
}


.no-decoration {
  text-decoration: none;
}

button:hover{
  background-color: orange;
  color: #f5f5f6;
}

.button-85 {
padding: 0.6em 2em;
border: none;
outline: none;
color: rgb(255, 255, 255);
background: #111;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 10px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-85:before {
content: "";
background: linear-gradient(
  45deg,
  #ff0000,
  #ff7300,
  #fffb00,
  #48ff00,
  #00ffd5,
  #002bff,
  #7a00ff,
  #ff00c8,
  #ff0000
);
position: absolute;
top: -2px;
left: -2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
-webkit-filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing-button-85 20s linear infinite;
transition: opacity 0.3s ease-in-out;
border-radius: 10px;
}

@keyframes glowing-button-85 {
0% {
  background-position: 0 0;
}
50% {
  background-position: 400% 0;
}
100% {
  background-position: 0 0;
}
}

.button-85:after {
z-index: -1;
content: "";
position: absolute;
width: 100%;
height: 100%;
background: #222;
left: 0;
top: 0;
border-radius: 10px;
}
.logo {
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Adjust spacing between logo and navigation */
}
body {
max-width: 100%;
margin: 0;
padding: 0;
background-color:black;


}
.content-box {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #333;
  justify-content: space-between;
  color:white;
}

.about-section {
  text-align: left;
}

.image-container img {
  width: 200px; 
  border-radius: 50%;
  margin-right: 30px;
  float: left; 
}

.text-content {
  display: inline-block;
  vertical-align: top;
  text-align:left; 
}
body{
  background-image: url('https://img.freepik.com/free-photo/abstract-background-with-rainbow-coloured-flowing-waves_1048-16932.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1715040000&semt=ais');
  background-size: cover; /* This will make the background image cover the entire element */


}